@page "/categoria/create"
@inject HttpClient http
@inject NavigationManager navigation
@inject IJSRuntime js

<h2>Nova Categoria</h2>

<CategoriaForm Categoria="categoria" OnValidSubmit="CriarCategoria" ButtonTextSubmit="Salvar" ButtonTextCancelar="Cancelar" />

@code {
    Categoria categoria = new Categoria();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Focus("txtCategoriaNome");
        }
    }

    public async Task Focus(string elementId)
    {
        await js.InvokeVoidAsync("focusById", elementId);
    }

    private async Task CriarCategoria()
    {
        await http.PostAsJsonAsync("api/Categoria", categoria);
        navigation.NavigateTo("categoria");
    }

    private void Voltar()
    {
        navigation.NavigateTo("categoria");
    }
}
