@page "/categoria"
@inject HttpClient http
@using System.Text.Json

<h2>Categorias</h2>

<div>
    <a class="btn btn-success" href="categoria/create"><i class="oi oi-plus"></i> Criar Categoria</a>
</div>
<br />

<div class="form-inline">
    <label class="sr-only" for="filter-name">Filtro</label>
    <input type="text" class="form-control mb-2 mr-sm-2" @bind="nomeFiltro" placeholder="Filtrar pelo nome" />
    <button type="submit" class="btn btn-info mr-sm-2 mb-2" @onclick="Filtrar">
        <i class="oi oi-magnifying-glass"></i> Filtrar
    </button>
    <button type="submit" class="btn btn-danger mb-2" @onclick="LimparFiltro">
        <i class="oi oi-trash"></i> Limpar
    </button>
</div>
<br />

@if(categorias == null)
{
    <p><em>Carregando...</em></p>
}
else if(categorias.Count == 0)
{
    <p><em>Não existem categorias cadastradas...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Descrição</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
           @foreach (var categoria in categorias)
           {
               <tr>
                   <td>@categoria.Nome</td>
                   <td>@categoria.Descricao</td>
                   <td>
                       <a class="btn btn-info" href="categoria/edit/@categoria.CategoriaId"><i class="oi oi-pencil"></i></a>
                   </td>
                   <td>
                       <a class="btn btn-danger" style="cursor:pointer" @onclick="@(() => ExcluirCategoria(categoria.CategoriaId))"><i class="oi oi-trash" style="color:white"></i></a>
                   </td>
               </tr>
           }
        </tbody>
    </table>
}

<Confirma @ref="confirma" onCancela="CancelaConfirma" onConfirma="DeletaConfirma">
    <div>Deseja realmente excluir este item?</div>
</Confirma>

<hr />

<Paginacao QtdTotalPaginas="QtdTotalPaginas" PaginaAtual="PaginaAtual" Raio="2" PaginaSelecionada="PaginaSelecionada" />

@code {
    List<Categoria> categorias { get; set; }

    private int QtdTotalPaginas;
    private int PaginaAtual = 1;
    private string nomeFiltro = string.Empty;

    Confirma confirma;
    int codigoCategoria;

    protected override async Task OnInitializedAsync()
    {
        await CarregaCategorias();
    }

    private async Task Filtrar()
    {
        PaginaAtual = 1;
        await CarregaCategorias();
    }

    private async Task LimparFiltro()
    {
        nomeFiltro = string.Empty;
        PaginaAtual = 1;
        await CarregaCategorias();
    }

    public async Task CarregaCategorias(int pagina = 1, int qtdPorPagina = 5)
    {
        var httpResponse = 
            await http.GetAsync($"api/Categoria?pagina={pagina}&qtdPorPagina={qtdPorPagina}&nome={nomeFiltro}");

        if (httpResponse.IsSuccessStatusCode)
        {
            QtdTotalPaginas = int.Parse(httpResponse.Headers.GetValues("totalPaginas").FirstOrDefault());

            var responseString = await httpResponse.Content.ReadAsStringAsync();

            categorias = JsonSerializer.Deserialize<List<Categoria>>(responseString, new JsonSerializerOptions()
            {
                PropertyNameCaseInsensitive = true
            });
        }
    }

    private async Task PaginaSelecionada(int pagina)
    {
        PaginaAtual = pagina;
        await CarregaCategorias(pagina);
    }

    private void ExcluirCategoria(int categoriaId)
    {
        confirma.Exibir();
        codigoCategoria = categoriaId;
    }

    private async Task DeletaConfirma()
    {
        await http.DeleteAsync($"api/Categoria/{codigoCategoria}");
        confirma.Ocultar();
        await CarregaCategorias();
    }

    private void CancelaConfirma()
    {
        confirma.Ocultar();
    }
}
