@page "/produto/create"
@inject HttpClient http
@inject NavigationManager navigation
@inject IJSRuntime js
@attribute [Authorize(Roles = "Admin")]

<h2>Novo Produto</h2>

<ProdutoForm Produto="produto" OnValidSubmit="CriarProduto" ButtonTextCancelar="Cancelar" ButtonTextSubmit="Salvar" />

@code {
    Produto produto = new Produto();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Focus("txtProdutoNome");
        }
    }

    public async Task Focus(string elementId)
    {
        await js.InvokeVoidAsync("focusById", elementId);
    }

    private async Task CriarProduto()
    {
        await http.PostAsJsonAsync("api/Produto", produto);
        navigation.NavigateTo("produto");
    }
}

